/* Write your CSS here */
.btn-styles {
  background-color: transparent;
  border: none;
  color: #7b8794;
  font-size: 20px;
  font-weight: 700;
}

.active-tab-btn {
  border-bottom: 2px solid #0b69ff;
  color: #0b69ff;
}

.inactive-tab-btn {
  border-bottom: 2px solid #3e4c59;
  color: #3e4c59;
}
